body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2833;
    color: #C5C6C7;
}

header {
    background-color: #0B0C10;
    color: #66FCF1;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #45A29E;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    margin: 50px;
}

h2 {
    color: #C5C6C7;
    font-size: 2em;
    border-bottom: 1px solid #4FA29E;
}

p {
    line-height: 1.6;
    font-size: 1.2em;
}

.job {
    margin-bottom: 20px;
    border-left: 2px solid #66FCF1;
    padding-left: 10px;
}

.job h3 {
    font-weight: bold;
    font-size: 1.4em;
    color: #66FCF1;
}

.job p {
    font-weight: bold;
    color: #C5C6C7;
}

.job ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.job ul li {
    color: #C5C6C7;
    line-height: 1.4;
}

section#education {
    border-top: 1px solid #4FA29E;
    padding-top: 50px;
}

section#education p {
    font-size: 1.4em;
    font-weight: bold;
}